.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 100%;


}

.register-form__heading {
    color: #fff;
    background-color: blue;
    padding:10px 70px 10px 10px;
    width: 300px;
}

.register-form__inner {
    padding: 0px 20px;
    background-color: #fff;
    margin-top: -22px;
    width: 300px;
}

.register-form__group {

}

.register-form__input {
    width: 100%;
}

.register-btn {
    margin-left: 105px;
    margin-top: 25px;
}
