html,
body {
    height: 100%;
    width: 100%;
    background-color: #e6e6e6a4;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header_heading {
    color: blue;
    margin-left: 150px;
}

.main {
    height: 100%;
    width: 100%;
}